Package: com.zunda.examplecolorpicker
Name: ExampleColorPicker
Depends: mobilesubstrate, preferenceloader, org.thebigboss.libcolorpicker, com.spark.libsparkcolourpicker, com.creaturesurvive.libcscolorpicker #, ws.hbang.common
Version: 1.0.0
Architecture: iphoneos-arm
Description: Example ColorPicker!!
Maintainer: zunda <zunda.pixel@gmail.com>
Author: zunda <zunda.pixel@gmail.com>
Section: Tweaks
